# macOS files
.DS_Store

# R files
.RData
.Rproj.user
.Rhistory
st-beyondcell-breast.Rproj

# Project directories and files
data/
results/
results/analysis
results/ggplots
results/filtering
results/plots
scripts/__pycache__